#root {
  max-width: 1280px;
  min-width: 420px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: rgb(51, 51, 60);
  color: white;
  margin: 0;
  font-size: 12px;
}

.search {
  height: 20px;
  border: none;
}

.search:focus {
  outline: none;
}

nav ul li {
  list-style: none;
  color: white;
  background-color: blue;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
}

.list {
  margin: 20px auto;
  padding-left: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.item {
  padding: 2%;
  min-width: 400px;
  width: 97%;
  background-color: rgba(0, 0, 0, 0.65);
  list-style: none;
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  justify-items: start;
  gap: 12px;
  grid-template-areas: "img title rate"
                        "img date  ..."
                        "img genre  ..."
                        "text text text"
                        "star star star";
}

.movie_img {
  grid-area: img;
}

.movie_img img{
  width: 100%;
  height: auto;
}

.movie_rating {
  border-radius: 25px;
  border: 2px solid;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: rate;
  justify-self: end;

}

.movie_date {
  grid-area: date;
}

.movie_overview {
  grid-area: text;
  text-align: left;
}

.movie_title {
  font-size: 16px;
  grid-area: title;
}

.bg-red {
  border-color: #E90000;
}

.bg-orange {
  border-color: #E97E00;
}

.bg-yellow {
  border-color: #E9D100;
}

.bg-green {
  border-color: #66E900;
}

.search {
  width: 100%;
}

.stars .ant-rate-star:not(.ant-rate-star-full) .ant-rate-star-first,
.ant-rate-star:not(.ant-rate-star-full) .ant-rate-star-second {
  color: #ccc;
}

.movie_genres {
  display: flex;
  gap: 10px;
  grid-area: genre;
}

.genre {
  background-color: rgb(24, 144, 255);
  padding: 4px;
  border-radius: 2px;
  height: 20px;
}

@media (min-width: 800px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    max-width: 450px;
    grid-template-areas: "img title rate"
                        "img date ..."
                        "img genre ..."
                        "img text text"
                        "img star star";
    grid-template-columns: 35% 1fr 1fr;
  }

}